body {
                background-image: url('Icon/background_Login.jpg');
                background-size: cover;
            }
            /**********************************************************   主栏   ***********************************************************/
            #head {
                background-color:slategray;
                height: 65px;
                width: 100%;
                border-radius: 10px;
            }

            #logo {
                float: left;
                margin-left: 30px;
            }

            .title1 {
                font-size: 35px;
                font-family:Wide Latin;
                line-height: 60px;
                margin-left: 50px;
                color:cornflowerblue;
            }
            .title2 {
                font-size: 35px;
                font-family: Wide Latin;
                line-height: 60px;
                margin-left: 30px;
                color:cornflowerblue;
            }
            /**********************************************************   注册栏   ***********************************************************/
            fieldset
            {
                border: 1px solid black;
                height: 380px;
                width: 350px;
                margin-top: 100px;
                background-color: black;
                opacity: 0.7;
            }
            .RBtn {
                display: block;
                box-sizing: border-box;
                border: 2px solid white;
                padding: 10px 20px;
                color: black;
                outline: none;
                margin: 15px;
                border-radius: 7px;
                width: 240px;
                text-align: center;
                background-color: white;
            }
            .RegisterBtn {
                width: 120px;
                background:fuchsia;
                border: 0;
                color: white;
                font-size: 20px;
                padding: 10px;
                border-radius: 6px;
                cursor: pointer;
            }
            #register
            {
                color: white;
            }
            #register:link {
                text-decoration: none;
            }

            #register:visited {
                text-decoration: none;
            }

            #register:hover {
                text-decoration: none;
            }

            #register:active {
                text-decoration: none;
            }
            /**********************************************************   页脚   ***********************************************************/
            .footer {
                position: relative;
                margin-top: 13px;
                background-image: linear-gradient(315deg,#9fbaa8, #31354c);
                height: 400px;
                width: 100%;
            }

            a {
                color: antiquewhite;
                text-decoration: none;
            }

            #logo1 {
                border-radius: 50px;
            }

            #title {
                color: aliceblue;
                font-size: 20px;
                font-family: initial;
            }

            #ad {
                color: aliceblue;
                font-size: 15px;
                font-family: initial;
                margin-left: 56px;
            }

            #as {
                color: aliceblue;
                font-size: 15px;
                font-family: initial;
                margin-left: 56px;
                float: left;
            }
